header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to top,#85C1E9,#DAF7A6);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
header h1#logo {
  display: block;
  float: none;
  margin: 0 auto;
  height: 150px;
  line-height: 100px;
  text-align: center;
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 600px;
  -webkit-transform-origin: center top !important;
  transform-origin: center top !important;
}
header.smaller {
  height: 75px;
}
header.smaller h1#logo {
  width: 300px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
  background-image: url('/assets/logo.png');
  background-size: 300px;
}


@media all and (max-width: 960px) {
  .content {
    max-width: 800px;
  }
}


@media all and (max-width: 660px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 150px;
    line-height: 100px;
    text-align: center;
    background-image: url('/assets/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
    -webkit-transform-origin: center top !important;
    transform-origin: center top !important;
  }
  header.smaller {
    height: 75px;
  }
  header.smaller h1#logo {
    height: 70px;
    line-height: 40px;
    font-size: 30px;
    background-image: url('/assets/logo.png');
    background-size: 300px;
  }

  .content {
    max-width: 300px;
  }
}
.sidenav{
  top:150px;
}
.sidenav md-sidenav {
  max-width: 200px;
}